/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/* 
    GENERAL
*/
.row {
    color: white;
}

.box {
    background-color: blue;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
}

.special-box {
    background-color: #00E164;
    border: 1px solid blue;
    padding: 20px;
}

.row:nth-child(7) {
    font-size: 0.5em;
}

.higher {
    height: 100px;
}

.top {
    align-items: flex-start;
}

.middle {
    align-items: center;
}

.bottom {
    align-items: flex-end;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}